.pages .page {
	margin-left: 250px;
	position: relative;
	right: 250px;
}

/* This would show the sidebar. 
#body_page_index #content-wrapper,
#body_page_add #content-wrapper,
#body_page_edit #content-wrapper {
    margin-right:1% !important; 
    width:70% !important;
}

#body_page_index #sidebar-wrapper,
#body_page_add #sidebar-wrapper,
#body_page_edit #sidebar-wrapper {
    display: block !important;
}
*/
.small {
    font-size: 12px;
}

#assets_list {
  width: 90%;
}

div#assets_page {
  	width: 250px;
    height: 305px;
  	position: absolute;
  	overflow: auto;
}

#assets_folder {
  	width: 250px;
  	position: absolute; 
}

#assets_folder > select {
  	width: 250px;
} 

#assets_page img,
#assets_list img {
    display: block;
    float: left;
    border: 1px solid #ccc;
    padding: 2px;
    margin: 3px;
    width: 64px;
    height: 64px;
}

#assets_tools img  {
    padding: 2px;
    padding-top: 12px;
    width: 64px;
    height: 64px;
}

#assets_tools {
  float: right;
}

#content textarea {
    height: 292px;
}

